.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;

  .main-nav {
    background-color: transparent;

    .nav-brand .logo {
      width: 150px;
      height: auto;
    }

    .navbar-menu .navbar-item {
      color: inherit;

      &:hover {
        color: hsl(171, 100%, 41%);
      }
    }
  }
}