.main {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  transition: transform .4s cubic-bezier(0.59, 0.06, 0, 0.97);
  transform: translateX(100%);
  z-index: 1;

  &.in-view {
    opacity: 1;
    transform: translateX(0);
  }
}