.main {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: white;
  transition: transform .25s ease-out;
  transform: translateX(100%);
  z-index: 1;

  &.in-view {
    opacity: 1;
    transform: translateX(0);
  }
}