.main {
  max-height: 100vh;
  overflow-y: hidden;

  .landing {
    position: relative;

    &:before {
      content: "";
      display: block;
      padding: 1em;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      color: hsla(0, 0%, 100%, 0.6);
      background-image: url(../../../dist/assets/img/hero-background-shirly-niv-marton-377770-unsplash.jpg);
      background-position: 50% 50%;
      background-size: cover;
    }
  
    .hero-body {
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.6);
    }
  
    .photo-copyright {
      position: absolute;
      bottom: 15px;
      right: 10px;
      opacity: .6;
      color: hsl(0, 0%, 100%);
      text-decoration: underline;
  
      &:hover {
        color: hsl(171, 100%, 41%);
      }
    }
  }
}