@mixin link-border-hover-animation {
  @keyframes link-border-hover-animation {
    0% {
      width: 0;
    }

    2% {
      opacity: 1;
    }

    100% {
      width: 100%;
      opacity: 1;
    }
  }
}

@mixin link-border-mouse-leave-animation {
  @keyframes link-border-mouse-leave-animation {
    0% {
      opacity: 0;
      width: 100%;
    }

    2% {
      opacity: 1;
    }

    100% {
      width: 0;
      opacity: 0;
    }
  }
}