.header {
  width: 100%;

  .nav.nav--main {
    padding: 1.75rem 2rem;

    .link {
      position: relative;
      border-bottom: 1px solid blueviolet;

      &:hover:before {
        animation: link-border-hover-animation .2s ease-in forwards;
      }

      &:before {
        content: "";
        position: absolute;
        bottom: -1px;
        height: 2px;
        background-color: blueviolet;

        animation: link-border-mouse-leave-animation .2s ease-in forwards;
      }
    }

    @include link-border-hover-animation;
    @include link-border-mouse-leave-animation;
  }
}